<%= styled_flash %>

<ul class='links-list'>
  <% @links.each do |link| %>
    <li>
      <a id="<%= link.id %>" href="<%= link.url %>">
       <%= link.title %>
      </a>

      <form action="delete-link" method="post">
        <button type='submit' name="id" value="<%= link.id %>">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<form action="add-link">
  <button type="submit">Add Link</button>
</form>
